<!DOCTYPE html>

<html>
<head>
    <title>Successful </title>

</head>

<body>
<h1>You succesfully bought <%= product.returnValues.referenceId %> </h1>
<p> you paid : <%= price %></p>

<a href="/ForSale">Back</a>
<br>
<a href="/"> Home </a>
</body>
</html>









