<!DOCTYPE html>

<html>
<head>
    <title>Error not bought</title>

</head>

<body>
<h1> Oops! Something went wrong</h1>

<p>Sucker! You tried to buy the reference twice or some shit like that? hahaha we HACKED you hahahaah</p>

</body>
</html>