<!DOCTYPE html>

<html>
<head>
    <title>Server closed</title>

    <style>
        body {
            background: #222222;
        }
        div {
            color: white;
            text-align: center;
            margin-top: 50vh;
            transform: translateY(-50%);
            font-size: 20px;
        }
        a {
            text-decoration: none;
            color: black;
        }
    </style>

</head>

<body>

<div>
    <p>Server closed.</p>
    <p>(It may take a while in the console)</p>
    <p>If you reopened the server, you can clic below to go back to the main page.</p>
    <button><a href="/">Home</a></button>
</div>

</body>
</html>