<!DOCTYPE html>

<html lang="en">
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Home</title>
    <!-- JQuery -->
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!-- Golden Layout -->
    <script type="text/javascript" src="//golden-layout.com/assets/js/goldenlayout.min.js"></script>
    <link type="text/css" rel="stylesheet" href="//golden-layout.com/assets/css/goldenlayout-base.css"/>
    <link type="text/css" rel="stylesheet" href="//golden-layout.com/assets/css/goldenlayout-dark-theme.css"/>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="stylesheet.css">

    <!-- Script with useful functions -->
    <script type="text/javascript" src="clientSideFunctions.js"></script>
    <script type="text/javascript" src="loadHTML.js"></script>

</head>

<body>

<div id="wrapper">
    <ul id="menuContainer"></ul>
    <div id="layoutContainer"></div>
</div>


<!-- Script golden layout -->
<script type="text/javascript" src="gl.js"></script>

</body>
</html>