<!DOCTYPE html>

<html>
<head>
    <title>Info about your bought product</title>

</head>

<body>
<h1>Available information for the product  <%= id %> :</h1>
<p>The Reference key K : <%= K.toString('hex') %></p>
<br>
<br>
<a href="/">Home</a>

</body>
</html>









