<!DOCTYPE html>

<html>
<head>
    <title>Info about your product being sold</title>

</head>

<body>
<h1>Available information for the product  <%= id %> :</h1>
<p>The Reference key K : <%= K.toString('hex') %></p>
<br>
<br>
<p>Current Number of Clients: <%= num %></p>
<a href="/">Home</a>

</body>
</html>









