<!DOCTYPE html>

<html>
<head>
    <title>Success</title>

</head>

<body>
<h1>Succesfully sent K2 to  <%= done %> clients out of <%= num  %> expected ! </h1>
<p>The others were ignored because a wrong hash was sent..</p>
<br>
<br>
<a href="/">Home</a>

</body>
</html>









