<!DOCTYPE html>

<html>
<head>
    <title>Success</title>

</head>

<body>
<h1>Succesfully sent info to  <%= done %> clients out of <%= num  %> expected ! </h1>
<br>
<br>
<a href="/">Home</a>

</body>
</html>









