<!DOCTYPE html>

<html>
<head>
    <title>Success</title>

</head>

<body>
<% if (done = 1) { %>
    <h1>Succesfully sent Hash ! </h1>
<% } else {%>
    <h1>Something Probably went wrong! ! </h1>
<% } %>
<br>
<br>
<a href="/">Home</a>

</body>
</html>









